Source: u-boot-rk2601
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               flex,
               bison,
               python3-setuptools,
               swig,
               python3-dev,
               libgnutls28-dev,
               python3-pyelftools,
               libncurses-dev,
               crossbuild-essential-armhf [!armhf],
               crossbuild-essential-armel [!armel],
               xxd,
               bc,
               lib32stdc++6 [!i386],
               lib32z1 [!i386],
               dos2unix,
               device-tree-compiler,

Package: u-boot-rk2601
Architecture: all
Section: admin
Priority: optional
Depends: ${misc:Depends},
Provides: u-boot-rk2410 (= 2017.09-63-fffffff)
Conflicts: u-boot-rk2410 (<= 2017.09-62-12b7493)
Replaces: u-boot-rk2410 (<= 2017.09-62-12b7493)
Description: U-Boot based on boot-rk2601
 This package provides the prebuilt U-Boot based on boot-rk2601.

Package: u-boot-radxa-rk3528
Architecture: all
Depends: u-boot-rk2601,
         ${misc:Depends},
Section: admin
Priority: optional
Description: Radxa U-Boot meta-package for Radxa RK3528 products
 This package provides the prebuilt U-Boot for Radxa RK3528 products.

Package: u-boot-rock-3b
Architecture: all
Depends: u-boot-rk2601,
         ${misc:Depends},
Section: admin
Priority: optional
Description: Radxa U-Boot meta-package for ROCK 3B products
 This package provides the prebuilt U-Boot for ROCK 3B products.

Package: u-boot-rock-3c
Architecture: all
Depends: u-boot-rk2601,
         ${misc:Depends},
Section: admin
Priority: optional
Description: Radxa U-Boot meta-package for ROCK 3C products
 This package provides the prebuilt U-Boot for ROCK 3C products.

Package: u-boot-radxa-rk3576
Architecture: all
Depends: u-boot-rk2601,
         ${misc:Depends},
Section: admin
Priority: optional
Description: Radxa U-Boot meta-package for Radxa RK3576 products
 This package provides the prebuilt U-Boot for Radxa RK3576 products.

Package: u-boot-radxa-e54c
Architecture: all
Depends: u-boot-rk2601,
         ${misc:Depends},
Section: admin
Priority: optional
Description: Radxa U-Boot meta-package for Radxa E54C products
 This package provides the prebuilt U-Boot for Radxa E54C products.

Package: u-boot-rock-5b-plus
Architecture: all
Depends: u-boot-rk2601,
         ${misc:Depends},
Section: admin
Priority: optional
Description: Radxa U-Boot meta-package for ROCK 5B+ products
 This package provides the prebuilt U-Boot for ROCK 5B+ products.

Package: u-boot-rock-5c
Architecture: all
Depends: u-boot-rk2601,
         ${misc:Depends},
Section: admin
Priority: optional
Description: Radxa U-Boot meta-package for ROCK 5C products
 This package provides the prebuilt U-Boot for ROCK 5C products.
